<img src="../assets/logoScreen.png" width="200" height="80" class="logo" alt="">

<div class="text">
    <h2>Artists At Play</h2>
    <p>Take Our Time</p>
    <p>Joey Restivo</p>
</div>
<div class="row">
    <div class="col-md-6    buy">
        <!--Buy panties-->

        <!--animacion para cambio de pagina (animate__fadeInRight)-->
        <button>
          <a href="./componentes/loguin/loguin.component.html" class="animate__fadeInrInRight">
          <img src="../assets/fondo.png" class="fondo" alt="">
        </a>
        </button>
        <app-loguin></app-loguin>
    </div>
    <div class="col-md-6  sell ">
        <!--Sell panties-->
        <button>
          <a href="./componentes/loguin2/loguin2.component.html" class="animate__fadeInrInRight">
          <img src="../assets/fondo.png " class="fondo " alt=" ">
        </a>
        </button>
        <app-loguin2></app-loguin2>
    </div>
</div>